
{%extends 'layout.html' %}

{%block content %}
    {% import "_macros.html" as macros %}
    <h1>Pedidos</h1>
    <form action="" method="post" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{macros.render_field(form.nombre,class="forms-controls")}}
    {{macros.render_field(form.direccion)}}
    {{macros.render_field(form.telefono)}}
    {{macros.render_field(form.fecha_compra)}}


    <input type="submit" name="tn1" value="registrar">

</form>

<h1>Nombre: {{nom}}</h1>
{%endblock%}